footer{
	background-color: var(--dark1);
	color: white;
	text-align: center;
	padding: 2rem 0;
	font-size: 1.4rem;
	font-weight: var(--bold);
	margin-bottom: 0 !important;

	div{
		text-align: left;
	}

    h2{
        color: white;
        font-weight: var(--normal);
        font-size: 2rem;
        text-align: left;
		margin-bottom: 2rem;
    }

	p{
		color: white;
		margin-bottom: .5rem;
        font-size: 1.4rem;
	}

	.icon{
		display: inline-block;
		margin-top: 10px;
		transition: all .3s ease-out;
		position: relative;
		top: 0;

		img{
			height: 36px;
		}

		& + a{
			margin-left: 10px;
		}

		&:hover{
			top: -5px;
		}
	}
}

