@keyframes rotate{
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}

.reviews{
	img{
		display: inline-block;
		border-radius: 100px;
		width: 80px;
		height: 80px;

		&:hover{
			animation: rotate 1s linear;
		}
	}

	.review{
		position: relative;
	}

	blockquote{
		margin-bottom: 0;
		display: inline-block;
		width: calc(100% - 80px);
	}

	.btn{
		display: table;
		margin-left: 20%;
	}

    .readMore{
        background-color: transparent;

        font-size: 1.4rem;
        font-weight: var(--normal);
        color: var(--blue);
		color: var(--red);

        margin-top: 0;
        margin-left: -5px;

		position: absolute;
		right: 0;
		bottom: .5rem;

        &::after{
            content: '>';
            position: relative;
            top: 2px;
            margin-left: 5px;
        }

        &:hover{
            transform: rotate(-1deg);
            background-color: var(--blue);
            color: white;
        }
    }

    .readMoreTxt{
        display: none;
    }
}




.popupWrapper{
	display: none;
	width: 100%;
	max-width: 800px;
	background-color: white;
	z-index: 10000;

	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    box-shadow: 0px 2px 9px #848484;
	/* border: 1px solid black; */

	&.visible{
		display: block;
	}

	.close{
		background-color: white;
		font-size: 1.6rem;
		color: black;
		border: 1px solid black;
		padding: 6px 10px;
		margin-top: 0;
		cursor: pointer;
		
		position: absolute;
		top: -1.5rem;
		right: -1.5rem;
		z-index: 10001;

		&:hover{
			background-color: black;
			color: white;
		}
	}

	.popup{

	}

	.content{
		padding: 2rem 4rem 4rem;

		img.float{
			float: right;
			padding: 2rem 0 1.5rem 3rem;
			width: 280px;
		}
	}

	p{
		font-style: italic;
	}

	.question{
		font-weight: var(--bold);
		margin-top: 2rem;
		font-style: normal;
	}
}