.nostretch{
    object-fit: cover;
}

.box{
	border: 2px solid var(--dark3);
	border-radius: var(--radius);
	padding: 3rem;
	min-width: 400px;
}

.center{
	margin: 0 auto;
	display: table;
}

.hint, question, .task{
	display: table;
	background-color: var(--dark3);
	color: white;
	padding: 1.5rem 1.7rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
	border-radius: var(--radius);
}

.hint{
	&.small{
		padding: .6rem .8rem;
		margin-top: 1rem;
		margin-bottom: 0;
	}
	
	&.error{
		background-color: var(--red);

		&:before{
			color: #ffffff;
		}
	}

	&:before{
		content: "\f059";
		font-family: "FontAwesome";
		font-size: .9em;
		color: #838d94;
		margin-right: .6rem;
	}
}

.task{
	background-color: var(--red);
	background-color: var(--accent);

	&:before{
		content: "\f46c";
		font-family: FontAwesome;
		margin-right: .6rem;
	}

	a:hover{
		color: black;
	}
}

question{
	font-size: 1.6rem;

	&:after{
		content: "\f059";
		font-family: "FontAwesome";
		font-size: .9em;
		color: var(--accent);
		margin-right: .6rem;
		float: left;
		position: relative;
		top: 2px;
	}

	&:before{
		content: 'Question: ';
		font-weight: bold;
		color: var(--accent);
	}
}

i {
	position: relative;
	top: 3px;
}

button{
	background-color: var(--dark0);
	border-radius: var(--radius);
	border: 2px solid var(--dark3);

	&:hover{
		background-color: var(--dark3);
	}

	&.big{
		padding: 1rem 1.5rem;
		font-size: 1.5rem;
	}
}

kbd, txt{
	border-radius: var(--radius);
	padding: 0.16rem 0.6rem 0.23rem;
	margin: 0 .2rem;
	cursor: pointer;
}

kbd{
	border: 1px solid #54626d;
	border-top: 1px solid #293036;
	background-color: var(--dark0);
	color: #ffffff;
	position: relative;
	top: 0;
	user-select: none;

	&:active{
		/* border-top: 0; */
		border: 1px solid var(--dark2);
		border-bottom: 0;
		top: 1px;
	}
}

txt{
	background-color: white;
	color: var(--dark1);
	position: relative;

	.tooltip{
		display: block;
		background-color: var(--dark3);
		color: white;
		padding: 0.16rem 0.6rem 0.23rem;
		border-radius: var(--radius);

		position: absolute;
		bottom: 120%;
		left: 0;
	}

	&:before{
		content: "\f11c";
		font-family: "FontAwesome";
		font-size: .9em;
		color: #838d94;
		margin-right: .6rem;
	}
}

cmd{
	background-color: var(--dark00);
	color: white;
	padding: 4px;
	font-family: Inconsolata, monospace;
	position: relative;
	user-select: none;

	&:before{
		content: "> ";
		font-size: .9em;
		color: var(--lime);
		margin-right: .6rem;
	}
}

.descriptor{
	&::before{
		display: inline-block;
		content: "\f148";

		--_fa-family: var(--fa-family, var(--fa-style-family, 'Font Awesome 7 Free'));
		font-family: var(--_fa-family);
		-webkit-font-smoothing: antialiased;
		
		font-weight: var(--fa-style, 900);
		transform: rotate(90deg);
		margin-right: 8px;
		margin-left: 2px;
		/* font-weight: 400; */
	}

	& + .descriptor{
		margin-top: 0;
	}
}


.blur{
	&::before{
		content: "";
		position: fixed;
		inset: 0;
		backdrop-filter: blur(8px);
		background: rgba(0,0,0,0.2); /* optional dim */
		z-index: 10;
		pointer-events: none;
	}

	.content, nav{
		user-select: none;
		pointer-events: none;
	}

	.activeTask{
		position: relative;
		z-index: 20; 
		pointer-events: all;
	}
}