.editorWrapper{
	position: relative;

	button{
		padding: 0.8rem 1rem;
		border: none;

		&.start{
			background-color: var(--lime);
			color: black;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}

		&:after{
			content: "\f105" !important;
			font-family: "FontAwesome";
			font-size: .8em;
			margin-left: .5rem;
		}

		&:hover{
			background-color: var(--accent);
			color: black;
		}
	}

	.allowed{
		position: absolute;
		bottom: -.5rem;
		left: 0;
		font-size: 1.4rem;
		font-weight: normal;
		color: white;
		margin-left: 1rem;

		span{
			margin-right: 10px;
			position: relative;

			&.check, &.xmark{
				display: inline-block;
				&::before{
					content: "";
					font-family: "FontAwesome";
				}
			}

			&.check{
				font-size: .85em;
				top: 2px;
				&::before{
					content: "\f00c";
					color: var(--lime);
				}
			}

			&.xmark{
				font-size: .9em;
				top: 2px;
				&::before{
					content: "\f00d";
					color: var(--red);
				}
			}
		}
	}

	&.blurChildren{
		.js-editor, .terminal, .allowed{
			filter: blur(10px);
			pointer-events: none;
			user-select: none;

			button{
				filter: blur(0);
			}
		}
	}
}


.js-editor{
	margin-top: 2rem;
	margin-bottom: 2rem;
	min-height: 300px;
	border: 6px solid #3e474f;
	font-size: 1.3rem;
	font-family: Inconsolata, monospace;
	position: relative;

	.cm-editor{
		height: 100%;
		/* overflow-y: scroll; */
	}

	header{
		background-color: #3e474f;
		padding-bottom: 6px;

		ul{
			padding-left: 0;
			margin-bottom: 0;

			li{
				margin-bottom: 0;
				line-height: 1.2em;
				cursor: pointer;

				&.check{
					color: var(--lime);
				}
			}
		}

		p{
			line-height: 1.3em;
		}
	}

	button{
		position: absolute;
		bottom: 0;
		right: 0;
		background-color: #3e474f;
		color: white;
		border-radius: 0;
		cursor: pointer;

		&:hover{
			background-color: #e06c75;
		}

		&.finish{
			right: 64px;
			&:hover{
				background-color: var(--lime);
				color: black;
			}
		}
	}
}


editorlite{
	display: inline-block;
	margin-right: 20px;
	font-size: 0;
	vertical-align: top;

	.cm-content{
		background-color: var(--dark2);
		/* background-color: var(--lime); */
		padding: 2px !important;
	}

	.cm-editor{
		font-size: 1.5rem;
	}
}


.terminal{
	margin-top: 2rem;
	background-color: var(--dark00);
	min-height: 300px;
	padding: 1rem;
	color: #c9d1d9;
	overflow: auto;
	white-space: pre-wrap;
	position: relative;

	.terminal-line{
		display: block;

		&.error{
			color: var(--red);
		}

		&.success{
			color: var(--lime);
		}

		&:last-of-type{
			&:before{
				content: '> ' !important;
				color: var(--lime);
			}
			&:after{
				content: "▍";
				animation: blink 1s infinite;
			}
		}
	}

	.clearTerminal{
		position: absolute;
		bottom: 0;
		right: 0;
		width: 30px;
		height: 30px;

		background-color: transparent;
		border: none;
		font-size: 1.2rem;
		color: var(--lime);
		cursor: pointer;

		&:after{
			content: "\f2ed" !important;
			font-family: "FontAwesome";
		}

		&:hover{
			background-color: var(--dark01);
		}
	}
}

@keyframes blink{
	0%,50%{opacity:1;}
	51%,100%{opacity:0;}
}



.cm-tooltip-autocomplete li{
	&::before{
		content: none !important;
	}
	
}

.cm-tooltip-autocomplete li[aria-selected="true"]{
	background-color: var(--dark00) !important;
	color: white !important;
	padding: 5px 0 !important;
}

/* .cm-completionIcon {
	display: none !important;
} */


editorlite{
	margin-top: 3rem;

	& + p{
		margin-left: 3.1rem;
	}
}