.nostretch{
    object-fit: cover;
}

.box{
	border: 2px solid var(--dark3);
	border-radius: var(--radius);
	padding: 3rem;
	min-width: 400px;
}

.center{
	margin: 0 auto;
	display: table;
}

.hint, question, .task{
	display: table;
	background-color: var(--dark3);
	color: white;
	padding: 1.5rem 1.7rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
	border-radius: var(--radius);
}

.hint{
	&.small{
		padding: .6rem .8rem;
		margin-top: 1rem;
		margin-bottom: 0;
	}
	
	&.error{
		background-color: var(--red);

		&:before{
			color: #ffffff;
		}
	}

	&:before{
		content: "\f059";
		font-family: "FontAwesome";
		font-size: .9em;
		color: #838d94;
		margin-right: .6rem;
	}
}

.task{
	background-color: var(--red);
	background-color: var(--accent);

	&:before{
		content: "\f46c";
		font-family: FontAwesome;
		margin-right: .6rem;
	}

	a:hover{
		color: black;
	}
}

question{
	font-size: 1.6rem;

	&:after{
		content: "\f059";
		font-family: "FontAwesome";
		font-size: .9em;
		color: var(--accent);
		margin-right: .6rem;
		float: left;
		position: relative;
		top: 2px;
	}

	&:before{
		content: 'Question: ';
		font-weight: bold;
		color: var(--accent);
	}
}

i {
	/* position: relative;
	top: 3px; */
}

button{
	background-color: var(--dark0);
	border-radius: var(--radius);
	border: 2px solid var(--dark3);

	&:hover{
		background-color: var(--dark3);
	}

	&.big{
		padding: 1rem 1.5rem;
		font-size: 1.5rem;
	}
}

kbd, txt{
	border-radius: var(--radius);
	padding: 0.16rem 0.6rem 0.23rem;
	margin: 0 .2rem;
	cursor: pointer;
}

kbd{
	border: 1px solid #54626d;
	border-top: 1px solid #293036;
	background-color: var(--dark0);
	color: #ffffff;
	position: relative;
	top: 0;
	user-select: none;

	&:active{
		/* border-top: 0; */
		border: 1px solid var(--dark2);
		border-bottom: 0;
		top: 1px;
	}
}

txt{
	background-color: white;
	color: var(--dark1);
	position: relative;

	.tooltip{
		display: block;
		background-color: var(--dark3);
		color: white;
		padding: 0.16rem 0.6rem 0.23rem;
		border-radius: var(--radius);

		position: absolute;
		bottom: 120%;
		left: 0;
	}

	&:before{
		content: "\f11c";
		font-family: "FontAwesome";
		font-size: .9em;
		color: #838d94;
		margin-right: .6rem;
	}
}

pre{
	color: white;
	tab-size: 15px;
	margin: 1rem 0;
}

cmd, code{
	background-color: var(--dark00);
	color: white;
	padding: 4px;
	font-family: Inconsolata, monospace;
	position: relative;
	user-select: none;
	white-space: nowrap; /* maybe */
    font-size: 1.6rem;

	&:before{
		content: "> ";
		font-size: .9em;
		color: var(--lime);
		margin-right: .6rem;
	}
}

.descriptor{
	&::before{
		display: inline-block;
		content: "\f148";

		--_fa-family: var(--fa-family, var(--fa-style-family, 'Font Awesome 7 Free'));
		font-family: var(--_fa-family);
		-webkit-font-smoothing: antialiased;
		
		font-weight: var(--fa-style, 900);
		transform: rotate(90deg);
		margin-right: 8px;
		margin-left: 2px;
		/* font-weight: 400; */
	}

	& + .descriptor{
		margin-top: 0;
	}
}


.blur{
	&::before{
		content: "";
		position: fixed;
		inset: 0;
		backdrop-filter: blur(8px);
		background: rgba(0,0,0,0.2); /* optional dim */
		z-index: 10;
		pointer-events: none;
	}

	.content, nav{
		user-select: none;
		pointer-events: none;
	}

	.activeTask{
		position: relative;
		z-index: 20; 
		pointer-events: all;
	}
}

.spacer{
	height: 2rem;
}

/* p > span + p > span{
	margin-top: .5rem;
} */

span{
	position: relative;

	&.check, &.xmark{
		display: inline-block;
		margin-right: 4px;
		&::before{
			content: "";
			font-family: "FontAwesome";
		}
	}

	&.check{
		font-size: .9em;
		top: 0;
		&::before{
			content: "\f00c";
			color: var(--lime);
		}
	}

	&.xmark{
		font-size: .95em;
		top: 1px;
		&::before{
			content: "\f00d";
			color: var(--red);
		}
	}

	&.tooltip{
		font-size: .8em;
		top: 0;
		margin-left: 2px;

		&::before{
			content: "\f059";
			font-family: "FontAwesome";
		}

		span{
			display: none;
			position: absolute;
			background-color: var(--dark3);
			padding: .8rem .8rem;
			border-radius: var(--radius);
			min-width: 200px;
			max-width: 250px;
			bottom: 140%;
			left: -100%;
			/* left: 50%;
			transform: translateX(-50%); */
			box-shadow: 0 2px 4px rgba(0,0,0,0.2);

			font-size: 1em;
			color: white;
			line-height: 1.3em;
			/* white-space: nowrap; */

			&::after{
				content: "";
				position: absolute;
				top: 100%;
				left: 9.6%;
				transform: translateX(-50%);
				border-width: 5px;
				border-style: solid;
				border-color: var(--dark3) transparent transparent transparent;
			}
		}

		&:hover span{
			display: block;
		}
	}
}


button{
	&.toggle{
		position: relative;
		width: 40px;
		height: 20px;
		background-color: var(--red);
		border-radius: 10px;
		border: none;
		cursor: pointer;
		display: inline-block;
		transition: all 0.3s ease-in-out;

		&::before{
			content: "";
			position: absolute;
			top: 2px;
			left: 2px;
			width: 16px;
			height: 16px;
			background-color: white;
			border-radius: 50%;
			transition: transform 0.3s ease-in-out;
		}

		&.active{
			background-color: var(--lime);

			&::before{
				transform: translateX(20px);
			}
		}
	}
}

.advancedWrapper{
	h3{
		&::after{
			content: none;
		}
	}
}

.advancedContent{
	max-height: 0;
	overflow: hidden;
	background-color: var(--sidebar);
	padding: 0 2rem;
	width: calc(100% + 40px);
	margin-left: -20px;

	transition: all 0.3s ease-out;

	h3{
		margin-top: 0;
	}

	h2:first-of-type{
		margin-top: 0;
	}

	&.active{
		max-height: 300vh; /* or any suitable max height */
		padding: 3rem 2rem;
	}
}

.vibrate{
	display: inline-block;
	animation: vibrate 0.2s linear infinite;
	color: var(--accent);
	transform: translate(0,0);
	
	&.two{
		animation: vibrate 0.1s linear infinite;
		color: var(--red);
	}
}

@keyframes vibrate {
	0% { transform: translate(0,0); }
	20% { transform: translate(-2px, 2px); }
	40% { transform: translate(-2px, -2px); }
	60% { transform: translate(2px, 2px); }
	80% { transform: translate(2px, -2px); }
	100% { transform: translate(0,0); }
}



.rainbowWave span {
    display: inline-block;
    color: hsl(calc(var(--i) * 25deg), 100%, 50%);

    animation:
        wave .8s ease-in-out infinite,
        rainbow 3s linear infinite;

    animation-delay:
        calc(var(--i) * 0.08s),
        calc(var(--i) * -0.08s);
}

@keyframes wave {
    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-9px);
    }
}

@keyframes rainbow {
    from {
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(360deg);
    }
}