
nav{
	flex-shrink: 0;
	height: 100vh;
	background-color: var(--sidebar);
	position: fixed;
	min-width: 200px;
	max-width: 200px;
	width: 200px;
	transition: all 0.3s ease-in-out;
	/* shadow to the right */
	box-shadow: 2px 0 10px rgba(0,0,0,0.2);

	a, .dropdownWrapper{
		display: block;
	}

	a{
		text-decoration: none;
		font-family: 'Roboto', Helvetica, Arial, sans-serif;
		padding: 10px;
		/* border-bottom: 1px solid #333d44; */
		border-bottom: 1px solid var(--dark2);
		color: #b2b2b2;
		font-size: 14px;
		transition: all .3s ease-in-out;

		&:hover, &.active{
			background-color: var(--dark00);
			color: #eee;
		}
	}

	.dropdownWrapper {

		a.navParent::after{
			content: "\f054";
			font-family: "FontAwesome";
			float: right;
			color: inherit;
			font-size: 12px;
			margin-top: 2px;
			transition: all 0.15s ease-out;
		}

		&.open{
			a.navParent{
				color: #eee;

				&::after{
					transform: rotate(90deg);
				}
			}

			.dropdown{
				max-height: 650px;
				transition: max-height 0.5s ease-in-out;
			}
		}
	}

	.dropdown{
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.2s ease-out;

		a{
			background-color:rgb(22, 27, 31);
			padding: 6px 10px 6px 20px;
			border-bottom: 1px solid var(--dark3);

			&:hover, &.active{
				background-color: var(--dark00);
				color: #eee;
			}
		}
	}


	#lightMode, #hideNav, #plebMode, #downloadUserData, #reportBug{
		position: absolute;
		bottom: 0;
		right: 0;
		height: 40px;
		width: 40px;
		border: none;
		background-color: transparent;
		transition: all 0.3s ease-in-out;
		border-radius: 0;

		i{
			font-size: 20px;
			position: static;
			color: #eee;
		}

		&:hover{
			background-color: var(--dark3);
			color: #eee;
		}
	}
	#lightMode{
		right: 40px;
	}
	#plebMode{
		right: 80px;
	}
	#reportBug{
		right: 120px;
	}
	#downloadUserData{
		right: 160px;
	}
	#hideNav{
		i{
			transform: rotate(-90deg);
		}
	}
}



.hiddenNav {
	nav{
		min-width: 40px;
		max-width: 40px;
		overflow: hidden;
		a{
			opacity: 0;
		}

		#hideNav{
			i{
				transform: rotate(90deg);
			}
		}
	}

	.content{
		width: calc(100% - 40px);
		margin-left: 40px;
	}
}


@media screen and (max-width: 700px){
	nav{
		position: fixed;
		width: 100%;
		z-index: 9999;
		max-width: none;
	}
	
	.hiddenNav{
		nav{
			min-width: 0;
			max-width: 0;
			overflow: auto;
		}
		#hideNav{
			left: 0;
		}
	}

	#hideNav{
		position: fixed !important;
		border: 1px solid white !important;
		background-color: var(--dark00) !important;
		z-index: 99999;
	}

	.content{
		margin-left: 0 !important;
		width: 100% !important;
	}
}