h1{
	position: relative;
	text-transform: uppercase;
	color: white;
	font-size: 4rem;
	font-weight: bold;
	line-height: 3rem;
	display: block;
	margin-bottom: 3rem;
	/* margin-left: 2rem; */

	/* &:before{
		content: '';
		position: absolute;
		display: inline-block;
		top: -4%;
		left: -2rem;
		height: 90%;
		width: 1rem;
		background-color: #ffffff;
	} */
}



h2{
	position: relative;
	color: rgb(219, 219, 219);
	font-size: 3rem;
	font-weight: bold;
	display: block;

	margin-bottom: 2rem;
	margin-top: 16rem;

	&:before{
		content: '';
		position: absolute;
		display: inline-block;
		font-size: inherit;
		/* top: 100%; */
		top: -3rem;
		left: 0;
		height: .15em;
		width: 1.5em;
		background-color: #ffffff;
		transition: all .3s ease-in-out;
	}

	&:hover:before{
		background-color: var(--accent);
	}

	/* & + question{
		margin-bottom: 1rem;
	} */
}



h3{
	position: relative;
	/* text-transform: uppercase; */
	color: #fff;
	font-size: 2rem;
	font-weight: bold;
	display: block;

	margin-bottom: 1rem;
	margin-top: 3.5rem;

	&:after{
		content: "\e097";
		font-family: "FontAwesome";
		font-size: 1em;
		margin-left: 1rem;
		position: relative;
		top: 3px;
	}
}



h4{
	position: relative;
	/* text-transform: uppercase; */
	color: var(--lime);
	font-size: 1.2rem;
	letter-spacing: 2px;
	font-weight: bold;
	display: block;
	text-transform: uppercase;

	margin-bottom: 1rem;
	margin-top: 3.5rem;
}



h5{
	position: relative;
	font-size: 1.2rem;
	letter-spacing: 2px;
	color: white;
	font-weight: bold;
	display: block;
	text-transform: uppercase;

	margin-bottom: 1rem;
	margin-top: 1rem;
}



small{
	font-size: .6em;
}

em{
	font-weight: inherit;
	color: var(--accent);
}

strong{
	font-weight: 700;
	color: white;
}

a{
	text-decoration: none;
	color: inherit;

	&.download{
		&:after{
			/* download icon */
			content: "\f019" !important;
			font-family: "FontAwesome";
			font-size: 1em;
			padding-left: .4rem;
			position: relative;
			top: 2px;
		}
	}
}

img{
	max-width: 100%;
}

ol, ul{
	margin-bottom: 1rem;

	li{
		margin-bottom: .4rem;

		&.link{
			&::before{
				content: "\f0c1" !important;
			}
		}

		ul{
			padding-left: 2rem;
			margin-bottom: 2rem;
			margin-top: .5rem;
			border-left: 3px solid #262c32;

			li{
				
			}
		}
	}
}

ol{
	padding-left: 2rem;
}

ul{
	list-style: none;
	padding-left: 1rem;
	padding-left: 0;

	li{
		input[type="checkbox"]{
			margin-right: .5rem;
			transform: scale(1.2);
			vertical-align: middle;

			&:checked + label{
				text-decoration: line-through;
			}
		}

		&::before{
			content: "\f00c";
			font-family: "FontAwesome";
			font-size: .8em;
			margin-right: .8rem;
			position: relative;
			top: -1px;
		}
	}

	&.checklist{
		li::before{
			content: "\f054";
		}
	}

	&.check{
		li::before{
			color: var(--lime);
		}
	}

	&.cross{
		li::before{
			content: "\f00d";
			font-size: .9em;
			color: var(--red);
		}
	}

	&.empty{
		li::before{
			content: "";
			margin-right: 0;
		}
	}

	&.spaced{
		li{
			margin-bottom: 1rem;
		}
	}
}

p, li{
	font-size: 1.6rem;
	line-height: 1.5em;
	color: rgb(221, 221, 221);
	transition: all .3s ease-in-out;
	/* letter-spacing: .05rem; */

	span{
		font-weight: inherit;
	}

	&:hover{
		color: white;
	}

	a{
		text-decoration: underline;
		position: relative;

		&:hover{
			color: var(--accent);
		}

		&::after{
			content: "\f0c1" !important;
			font-family: "FontAwesome";
			font-size: .6em;
			padding-left: .4rem;
			top: -2px;
		}

		&.nolink{
			&::after{
				content: none !important;
			}
		}
	}
}

p{

	&.check, &.xmark{
		&::before{
			content: "";
			display: inline-block;
			margin-right: 8px;
			font-family: "FontAwesome";
		}
	}

	&.check{
		top: 0;

		&::before{
			font-size: .9em;
			content: "\f00c";
			color: var(--lime);
		}

		& + .xmark{
			margin-top: 0;
		}
	}

	&.xmark{
		top: 1px;

		&::before{
			font-size: .95em;
			content: "\f00d";
			color: var(--red);
		}
	}

	+ p{
		margin-top: 1rem;
	}

	+ ul{
		margin-top: .6rem;
	}
}


table{
	border-collapse: collapse;
	margin-bottom: 1rem;
	margin-top: 1rem;


	th, td{
		border: 1px solid var(--dark0);
		padding: .6rem 1rem;
		text-align: left;
		font-size: 1.4rem;
		color: white;
	}

	th{
		background-color: black;
		color: var(--lime);
		font-weight: var(--bold);

		&.empty{
			background-color: transparent;
			border: none;
		}
	}

	tfoot{
		tr{
			background-color: var(--dark3);
			color: white;	
			th{
				background-color: var(--dark3);
			}
		}
	}
}