.dummypic{
	background-color: rgb(192, 192, 192);
	width: 100%;
	position: relative;

	h2{
		position: absolute;
		top: 40%;
		color: #7a7a7a;
		text-align: center;
		display: block;
		width: 780px;
		left: 50%;
		transform: translate(-50%);
	}

	p{
		position: absolute;
		top: 58%;
		color: #7a7a7a;
		text-align: center;
		display: block;
		width: 100%;
		font-size: 1.8rem;
	}

	&::before{
		content: "\f03e";
		font-family: "FontAwesome";
		font-size: 6rem;
		text-align: center;
		color: rgb(239, 239, 239);
		display: block;
		line-height: 240px;
	}
}

.center{
	margin: 0 auto;
}

.left{
	text-align: left;
}



span{
	position: relative;

	&.check, &.xmark{
		display: inline-block;
		margin-right: 4px;
		&::before{
			content: "";
			font-family: "FontAwesome";
		}
	}

	&.check{
		font-size: .9em;
		top: 0;
		&::before{
			content: "\f00c";
			color: var(--lime);
		}
	}

	&.xmark{
		font-size: .95em;
		top: 1px;
		&::before{
			content: "\f00d";
			color: var(--red);
		}
	}

	&.tooltip{
		font-size: 1.4rem;
		top: 0;
		margin-left: 2px;
		text-transform: none;
		letter-spacing: .2px;

		&::before{
			content: "\f059";
			font-family: "FontAwesome";
			font-size: .9em;
			position: relative;
			top: -3px;
		}

		span{
			display: none;
			position: absolute;
			z-index: 100;
			background-color: var(--dark3);
			padding: .8rem .8rem;
			border-radius: var(--radius);
			min-width: 200px;
			max-width: 250px;
			bottom: 140%;
			left: -100%;
			box-shadow: 0 2px 4px rgba(0,0,0,0.2);

			font-size: 1em;
			color: white;
			line-height: 1.3em;

			&::after{
				content: "";
				position: absolute;
				top: 100%;
				left: 11%;
				transform: translateX(-50%);
				border-width: 5px;
				border-style: solid;
				border-color: var(--dark3) transparent transparent transparent;
			}
		}

		&:hover span{
			display: block;
		}
	}
}


.btn, button{
	padding: 10px 14px 8px;
	background-color: var(--blackest);
	border: none;
	color: white;
	display: table;
	margin-top: 1rem;
	font-size: 1.4rem;
	font-weight: var(--bold);

	&:hover{
		background-color: var(--dark4);
	}
}


.backBtn{
	position: fixed;
	bottom: 20px;
	right: -20px;
	background-color: white;
	padding: 15px 35px 15px 15px;
	border-radius: var(--radius) 0 0 var(--radius);
	font-size: 1.4rem;
	box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	transition: all .2s ease-in-out;

	&:before{
		content: "< ";
	}

	&:hover{
		right: 0;
	}
}