.banner{
	margin: 0 !important;

	background-color: var(--blue);
	text-align: center;
	padding: 1.3rem 0;
	font-size: 1.4rem;
	font-weight: var(--bold);
	width: 100%;
	max-width: none !important;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;

	p{
		color: white;

		a{
			text-decoration: none;
			position: relative;

			&:after{
				content: '' !important;
				display: block;
				height: 1px;
				width: 100%;
				background-color: #a4a4a4;

				position: absolute;
				top: 100%;
				left: 0;
			}

			&:hover{
				color: var(--red);

				&:after{
					background-color: var(--red);
				}
			}
		}
	}
}



.intro{
    margin: 46px auto !important;
}