@import url('/../assets/css/reset.css');
@import url('/../assets/css/fontawesome.css');
@import url('/../assets/css/fonts.css');
@import url('/../assets/css/grid.css');
@import url('/../assets/css/nav.css');
@import url('/../assets/css/forms.css');
@import url('typo.css');
@import url('classes.css');
@import url('form.css');

/* *::selection {
	background: var(--accent);
	color: black;
}
*::-moz-selection {
	background: var(--accent);
	color: black;
}
*::-webkit-selection {
	background: var(--accent);
	color: black;
} */

html{
	font-size: 10px !important;
}

body{
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

:root {
	--padding: 20px;
	--radius: 4px; 
	--dark1: #23282e;
	--dark2: #2e353b;
	--dark3: #49525c;
	--dark4: #7a7f84;
	--black: rgb(71, 71, 71);
	--blackest: rgb(34, 34, 34);
}

.content{
	width: 100%;
	margin: 0 auto;
	padding: 0 calc(var(--padding) * 1);
}

.row{
	max-width: 1400px;
	margin: calc(var(--padding) * 4) auto;

	&:first-of-type{
		margin-top: 30px;
	}
}


.more{
	h3{
		color: var(--blackest);
		margin-bottom: 3rem;
	}
}

.talent{

}